#browser_extension_settings {
  --browser-extension-settings-background-color: #f3f3f3;
  --browser-extension-settings-text-color: #444444;
  position: fixed;
  top: 10px;
  right: 30px;
  min-width: 250px;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: var(--browser-extension-settings-background-color);
  color: var(--browser-extension-settings-text-color);
  z-index: 100000;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22) !important;

  h2 {
    text-align: center;
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: 600;
    border: none;
  }

  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 11px;
    margin: 10px auto 0px;
    background-color: var(--browser-extension-settings-background-color);
    color: var(--browser-extension-settings-text-color);
  }

  footer a {
    color: #217dfc;
    text-decoration: none;
    padding: 0;
  }

  footer p {
    text-align: center;
    padding: 0;
    margin: 2px;
    line-height: 13px;
  }

  .option_groups {
    background-color: #fff;
    padding: 6px 15px 6px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0;
  }

  .option_groups .action {
    font-size: 14px;
    border-top: 1px solid #cccccc;
    padding: 6px 0 6px 0;
    color: #217dfc;
    cursor: pointer;
  }

  .option_groups textarea {
    margin: 10px 0 10px 0;
    height: 100px;
    width: 100%;
    border: 1px solid darkgray;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .switch_option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #cccccc;
    padding: 6px 0 6px 0;
    font-size: 14px;
  }
  .switch_option:first-of-type,
  .option_groups .action:first-of-type {
    border-top: none;
  }

  .switch_option > span {
    margin-right: 10px;
  }

  .option_groups .tip {
    position: relative;
    margin: 0;
    padding: 0 15px 0 0;
    border: none;
    max-width: none;
    font-size: 14px;

    .tip_anchor {
      cursor: help;
      text-decoration: underline;
    }
    .tip_content {
      position: absolute;
      bottom: 15px;
      left: 0;
      background-color: #ffffff;
      color: var(--browser-extension-settings-text-color);
      text-align: left;
      padding: 10px;
      display: none;
      border-radius: 5px;
      -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
      -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
      box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22) !important;
    }

    .tip_anchor:hover + .tip_content,
    .tip_content:hover {
      display: block;
    }

    p,
    pre {
      margin: revert;
      padding: revert;
    }

    pre {
      font-family: Consolas, panic sans, bitstream vera sans mono, Menlo,
        microsoft yahei, monospace;
      font-size: 13px;
      letter-spacing: 0.015em;
      line-height: 120%;
      white-space: pre;
      overflow: auto;
      background-color: #f5f5f5;
      word-break: normal;
      overflow-wrap: normal;
      padding: 0.5em;
      border: none;
    }
  }

  /* https://uiverse.io/zanina-yassine/afraid-eel-50 */
  /* The switch - the box around the slider */
  .container {
    --button-width: 51px;
    --button-height: 24px;
    --toggle-diameter: 20px;
    --color-off: #e9e9eb;
    --color-on: #34c759;
    width: var(--button-width);
    height: var(--button-height);
    position: relative;
    padding: 0;
    margin: 0;
    flex: none;
  }

  /* Hide default HTML checkbox */
  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  .switch {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--color-off);
    border-radius: calc(var(--button-height) / 2);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  .switch::before {
    display: none;
  }

  /* The slider */
  .slider {
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    position: absolute;
    left: 2px;
    top: calc(50% - var(--toggle-diameter) / 2);
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + .switch {
    background-color: var(--color-on);
  }

  input[type="checkbox"]:checked + .switch .slider {
    left: calc(var(--button-width) - var(--toggle-diameter) - 2px);
  }
}
